<h1 class="mb-4 text-2xl">Leaks! (<%= $leak.size %>)</h1>

<div class="grid grid-cols-6 gap-8">
  <% @leaks.each do |leak| %>
    <div class="rounded bg-teal-200 border-2 border-teal-500 text-center p-4">
      <%= leak.name %>
    </div>
  <% end %>
</div>
